################################################################################
# この .gitignore ファイルは Microsoft(R) Visual Studio によって自動的に作成されました。
################################################################################

/.vs/bgwTest/v15
/bgwTest/bin/Debug
/bgwTest/obj/x86/Debug
/bgwTest/bgwTest.csproj.user
